# omlx server
OMLX_BASE_URL="http://127.0.0.1:8000"
OMLX_API_KEY="supersecurepassword"

# mbp:      Qwen3.6-35B-A3B-MLX-8bit
# studio:   Qwen3.6-35B-A3B-bf16
OMLX_DEFAULT_MODEL="Qwen3.6-35B-A3B-bf16"
